/* Designed by Vladimir Moskalenko in California */
/* Last update on Apr 9, 2024 */

body {
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    font-family: Nunito;
    font-size: 24pt;
}
h1 {
    color:rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 48pt;
    text-align: center;
    padding: 14px 0;
    height: 4.8rem;
    line-height: 4.8rem;
}
h2 {
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    font-family: Nunito;
    font-size: 32pt;
}
p {
    color:rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 18pt;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
imp {
    color:rgb(255, 194, 157);
    font-family: Nunito;
    font-size: 24pt;
}

.name {
    margin: auto;
    background-color: #ffffff44;
    border-radius: 50px;
    width: 700px;
    height: 100px;
    box-shadow: 0px 0px 15px #ffffff6f;
}

.smallbanner {
    margin: auto;
    background-color: #ffffff44;
    border-radius: 50px;
    width: 400px;
    height: 100px;
    box-shadow: 0px 0px 15px #ffffff6f;
}

.textbox {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff20;
    border-radius: 50px;
    width: 75%;
    box-shadow: 0px 0px 15px #ffffff6f;
    padding: 40px;
}
table {
    width: 100%;
    padding: 20px;
}
th {
    height: 160px;
}

td {
    overflow: hidden;
}

.other {
    margin: auto;
    background-color: #ffffff28;
    border-radius: 50px;
    width: 350px;
    height: 80px;
    box-shadow: 0px 0px 15px #ffffff6f;
    text-align: center;
    
}

lnk {
    color:rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 36pt;
    text-align: center;
    padding: 14px 0;
    height: 5rem;
    line-height: 5rem;
}

a:link { 
    text-decoration: none; 
} 
  a:visited { 
    text-decoration: none; 
} 
  a:hover { 
    text-decoration: none; 
} 
  a:active { 
    text-decoration: none; 
}